

  <nav class="navbar navbar-inverse" style="background-color: black;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand text-white" href="{% url 'index' %}">Ma Galarie</a>
        </div>

        <!-- Adding a search form  -->
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search category" name="imagesearch">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="color:aqua;font-size: 18px;border-radius: 10px;"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>

            </form>
        </div>
        <!-- search form end -->
    </div>
</nav>